
#status{
    height: 175px;
    width: 755px;
    position: absolute;
    top: 126px;
    left: 292px;
    border-radius: 20px;
    float: left;
    background-image: linear-gradient(45deg, #0077ffa5, #B5D5FB );
    
    
}
#line_1{
    height: 53px;
    width: 330px;
    margin-top: 47px;
    margin-left: 33px;
    font-size: 35px;
    font-family: arial;
    color: white;
}
.line{
    height: 52px;
    width: 180px;
    font-size: 38.52px;
    font-family: arial;
    font-weight: bold;
    
}
#hat{
    height: 220.18px;
    width: 220.18px;
    background-image: url('https://s3-alpha-sig.figma.com/img/cd4b/bb8e/a95ed8cbb3f4a7091134e2df911324e6?Expires=1711324800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=MoHM3mh5yRe-9zxetYuVxW1JFwB5A3ASQl1NIwdhq8qUwH0ki7k~4F4IG3DH52U6LOnPoWtaILje4znanY-toeao3EaPK6k-WlPvhg5nbg5kscc8KoIpfaIs~8zro-tJURVCCGS3bhNMZyGIIAzURLnxEpRkAsZvOHiHYbUFF5ja7Z6LXlHsSSz-pHxw9VpG8b2WD5b2qcmPLSsZpC~FhqHw7sYpgXTfD2W-9fKUHcmnyy7rF0k~Lw61-28kcooe807WLfvwh6duhVix3-CTmRYk05SDbDNGovzrdMsuRBGE12CFxWCI7ecRBPv4IF6~lG0I4dF8CBLtgwMXUaBFqA__');
    background-size: 103%;
    background-repeat: no-repeat;
    rotate: -28.13deg;
    position: absolute;
    top: 110.81px;
    left: 659px;
}
#blackpack{
    height: 169.48px;
    width: 169.48px;
    background-image: url('https://s3-alpha-sig.figma.com/img/4c87/204c/02e0ca465d15b37a3a55bba01017ec75?Expires=1711324800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=gYZEDaxKD2wDIU3-8va-dafKPW8IByDlpwIW6iwc32g3HI0DCtK2Dme1U2S9PeT7pAf2iX4lfkFhYPLbjD53vivdc0MxS82Kmbq-gUMUD4KJvQwHMX9BmrqsNibS~7dhy00b5pAGJqp3q0y3KHukYrspdhxLukhjwKEJvVbDxruHHypZiSAhbHh1x0zSuMjLRRcRcMBrOrAXRGhCdAzUUHd-WsZx9tNP6z~73s3Y1wstFJ4UfsTJourIcHObCs-4ad~Lsq1U-HtBZAXJc5XHgPVePvhVUJSyHUtNKKV4ebC-RAIfCutT8k2E6MoFRdJSJBOhbeOF2YdeNFzRPzt52w__');
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 140px;
    left: 860.05px;
    rotate: 8.84deg;
}
#girl{
    height: 174.23px;
    width: 177px;
    background-image: url('https://s3-alpha-sig.figma.com/img/3159/77f6/d0701f5092d840e0af9adc72d93b11d9?Expires=1711324800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=SvV6qrtc~wi-E4Vh1VIj6VHnTGfI6RLRSX00kbTdZQim0VWqqpgBf~0tDmRyj~So~kivsMvKkywUPHvfWOSuTbnG1Op0hhWwHz~xBq3CfkmhwYkOGvcpJ78jgy5QiAhKL2FKaXYH9gRr1xnCVPcHaNfrgMEifW5PikhY-zuUB9RyUHCsq5vaGxqAJEIwJm4uy8sRha4xYhzMB7MAQBOg0gY7NkIOvByVszoaOg7VvkWv-2JUQONQM-bwaVBroUYBeDoBN1zrNY6h5gt77clbB~JoCXRjYA7TRf~H6-w0yLN9roCWAC0nk~5WlVC-KsqYGdt5pzCC1GgEpGju~K10ZA__');
    background-size: 120%;
    background-repeat: no-repeat;
    position: absolute;
    top: 127px;
    left: 755.05px;

}
.dexuat{
    position: absolute;
    top: 314px;
    left: 322px;
    
}
.group_1{
    height: 25px;
    width: 722px;
    position: absolute;
    top: 386px;
    left:323px;

}
.hienthi{
    float: left;
    
}
.khoahoc{
    height: 25px;
    width: 142px;
    font-size: 14.96px;
    font-family: arial;
   
   box-sizing: ;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.khoahoc:hover{
    height: 25px;
    width: 142px;
    font-size: 14.96px;
    font-family: arial;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
}
.xemtatca {
    height: 29px;
    width: 102px;
    font-size: 14.96px;
    font-family: arial;
    position:absolute;
    left: 643px;
    color: #925FE2;
}

.background{
    height: 265px;
    width: 755px;
    border-radius: 5.73px;
    position:absolute;
    top: 432px;
    left: 295px;
    background-image: linear-gradient(45deg, #2687F680,#B1CFF280);

}


.box{
    height: 254.87px;
    width: 172px;
    background-color: rgb(255, 255, 255);
    border-radius: 5.73px;
    
  
} 
.box1{ 
    position: absolute;
    top: 4.32px;
    left: 15.91px;
    float: left;
}
.box2{ 
    position: absolute;
    top: 4.32px;
    left: 201.91px;
    
}
.box3{ position: absolute;
    top: 4.32px;
    left: 386.91px;
    
}
.box4{ position: absolute;
    top: 4.32px;
    left: 570px;
   
}

.pic_1{
    height: 166.27px;
    width: 160.53px;
    border-radius: 4.59px ;
    background-image: url('https://s3-alpha-sig.figma.com/img/c1d2/94e7/429b686c4963b43fbbdc39d6cf9f9155?Expires=1710720000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=hPiA3TTb69ISV6bQQdD1VVCs5JW~prMx0By1HcCNV1VoYIHOLszHOk83lxlbiWc6ImFI9OZEI5im6Ga6YrHD9yrK7LptywfeB9LyFDO0Zv~rop4reUO~liaYJkHj-Jm69YcIud0-hdNohFFHUYV~EdtneDcsrqWQwnmEl577-q~P~cU37YC-M9X-beyddigAWu0MQxXbxyqcPK1OrE6e6Lj3cgcA3Sh4lzNVcH~-JwJ9K4Cn8iJjLvnG28z8ZelTnv63~jG8D5fFCJDM5MOic79hfiyvVSueJ3pHP~hM41Zpv3iQ8tpKnsmyIzA2ECwNqMIgIG7JfJaTZ6fyEf9cNQ__') ;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    top: 4px;
    left: 5px;

}
.pic_2{
    height: 166.27px;
    width: 160.53px;
    border-radius: 4.59px ;
    background-image: url('https://s3-alpha-sig.figma.com/img/4820/4bb0/299412e08528343d026efb01aa99da71?Expires=1710720000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=V4PQj623GVIjW817tLe1J6y7P27raYwP6mAzK~N2RJn9mQ6XjEVVOzcV6VnVma9krefczkdGJdLIGa5sFj3wX8ejiIg62MfFl7jonRgLMDgF5RW71SEPXheHRb2lGwmEzar9Ri~HBrhF-PauL3ykUMd-bR2ZaVaN6xs2zQdq25EThnh5JxHUdUrdrmC9mh5piuLTTMBsHxoGj-Whjg1Fz8ZIACc5Ef-4zD3xAIDRPlNDpcIOyt8ESascwO~3pGG933D66ijcn2xBcn2iPVOK8FVUq0NAIpn-NiddCknZUePTm4JnYXC2xG5cehnn6MJ80C8w95-~jz5977xoFojylg__');
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    top: 4px;
    left: 5px;

}
.pic_3{
    height: 166.27px;
    width: 160.53px;
    border-radius: 4.59px ;
    background-image: url('https://s3-alpha-sig.figma.com/img/7b33/0bce/1549b90d70dffe888ee7e940d77b0634?Expires=1710720000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=oWV2mcDhXyDPPM~NBxNJsL5mHZ1k5Ml9zDClqEq5kzrI~S-IfXtX-4HzFYghDxKy4i4fo0qewXWZW1MB9xQtSsbEnNA5dqXsCrL-64D9gTWX8zjaMErPyS-K~LcgWQ6wV-wkmGuht6MY7EyRcZGMrzoiVi0nC95W~mRXElxlxlPUS2HZMc0OrU0sBBgWHpXragjeeLbLj~NM49KJ~t9sS1pQnfj3zqgUj-mFhgxgdoJLj9tlvxs~TezKCOYDGrYNfWnQOYqeGgZHgMqfsAhZ6SM9Fyq30gFBnBpu4U3iDzT-YEaSZL7aG-pv9CwTsrHK-wBBTmCxRukB~tJ7AsJKIw__');
    background-size: 79%;
    background-repeat: no-repeat;
    position: relative;
    top: 4px;
    left: 23px;

}
.pic_4{
    height: 166.27px;
    width: 160.53px;
    border-radius: 4.59px ;
    background-image: url('https://s3-alpha-sig.figma.com/img/ce3c/3f58/24a4f17e3866ede6aa0d4343274ab334?Expires=1710720000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=mUOuSbStGrSfvG4WYzJMXusG9NlxFc2mj-K81hGF9K5YQX~9qgy7U2NKhcW6TBsjNi9NeMaDNw-MunZyxoyttFjy2bwJEQIaqPS~BqREUo9d-3SzXXn-~gtPm9DFWafEonTK7~0t4Sbr0N~2YNHboHbb-U8Kia9k50NJSpsEEImmK0gxx50NwW7ngyZ3V7JL4zEIukCHggwoHnEPk~0HngiZ3ho2lIMo0GEli3K-g5lFAk2SFvVAWDw5GIJ3rMiaX7b-yaGWD4xldt6axEVLwb6ksVjC-F2QtiGc2yjcinMJZ8hcu5CeYF2CphOuqsPsY305B2K8~JiphDbZzFVkUA__');
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    top: 4px;
    left: 5px;

}
.title_course{ 
    height: 16px; 
    width: 63px;
    font-size: 10.32px;
    font-family: arial;
    position: relative;
    top: 8px;
    left: 8px;
}
.describe_course{
    height: 28px;
    width: 142.76px;
    font-size: 9.17px;
    font-family: Arial;
    color:#00000099;   
    position: relative;
    top: 6px;
    left: 8px;   
}
.icon_member{
    position: relative;

    top: -5px;
    left: 8px;
}



.yeuthich{
    position: absolute;
    top: 771px;
    left: 329px;
    
}
.group_2{
    height: 25px;
    width: 722px;
    position: absolute;
    top: 805px;
    left: 329px;
}
.background_yeuthich{
    height: 265px;
    width: 755px;
    border-radius: 5.73px;
    position:relative;
    top: 848px;
    left: 295px;
    background-image: linear-gradient(45deg, #2687F680,#B1CFF280);

}
.pic_5{
    height: 166.27px;
    width: 160.53px;
    border-radius: 4.59px ;
    background-image: url('https://s3-alpha-sig.figma.com/img/7b33/0bce/1549b90d70dffe888ee7e940d77b0634?Expires=1710720000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=oWV2mcDhXyDPPM~NBxNJsL5mHZ1k5Ml9zDClqEq5kzrI~S-IfXtX-4HzFYghDxKy4i4fo0qewXWZW1MB9xQtSsbEnNA5dqXsCrL-64D9gTWX8zjaMErPyS-K~LcgWQ6wV-wkmGuht6MY7EyRcZGMrzoiVi0nC95W~mRXElxlxlPUS2HZMc0OrU0sBBgWHpXragjeeLbLj~NM49KJ~t9sS1pQnfj3zqgUj-mFhgxgdoJLj9tlvxs~TezKCOYDGrYNfWnQOYqeGgZHgMqfsAhZ6SM9Fyq30gFBnBpu4U3iDzT-YEaSZL7aG-pv9CwTsrHK-wBBTmCxRukB~tJ7AsJKIw__');
    background-size: 79%;
    background-repeat: no-repeat;
    position: relative;
    top: 4px;
    left: 23px;

}
.pic_6{
    height: 166.27px;
    width: 160.53px;
    border-radius: 4.59px ;
    background-image: url('https://s3-alpha-sig.figma.com/img/ce3c/3f58/24a4f17e3866ede6aa0d4343274ab334?Expires=1710720000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=mUOuSbStGrSfvG4WYzJMXusG9NlxFc2mj-K81hGF9K5YQX~9qgy7U2NKhcW6TBsjNi9NeMaDNw-MunZyxoyttFjy2bwJEQIaqPS~BqREUo9d-3SzXXn-~gtPm9DFWafEonTK7~0t4Sbr0N~2YNHboHbb-U8Kia9k50NJSpsEEImmK0gxx50NwW7ngyZ3V7JL4zEIukCHggwoHnEPk~0HngiZ3ho2lIMo0GEli3K-g5lFAk2SFvVAWDw5GIJ3rMiaX7b-yaGWD4xldt6axEVLwb6ksVjC-F2QtiGc2yjcinMJZ8hcu5CeYF2CphOuqsPsY305B2K8~JiphDbZzFVkUA__');
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    top: 4px;
    left: 5px;

}
.pic_7{
    height: 166.27px;
    width: 160.53px;
    border-radius: 4.59px ;
    background-image: url('https://s3-alpha-sig.figma.com/img/f412/37ce/4698cfdf205e768780dd36c7894b3cc8?Expires=1710720000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Yao-0nsnKr7BrHmBqqWpN1EyoE4wXsz-Jznw-hUlhD9l8qmgpskGhENWo9SEch3bUV4iGjTMnBLrJTvk~2WwSKufOEsM3g0aXZCI9PjjSBjMoyLeXUCq3o-X~IPhWj~N-COIAh5s9MiilODvZ8Flxng4tYzm4mn~lBk0fuc67nUYzHpfXe2TZTtg2yvL~UR-cKdUBGjHAKPjkHdooMSUf28VbNBjYL14rPUFkF0QTMYmxCwc3r8q8LYorYRCaPtzAlpTMWJebSK5tuOz8HWdAzcGdPpn7wV2a3uxyB02WEmDNf9dVWtR0Co4ljaleknupXp7kEpJuD7HWcMtqm5Ejw__');
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    top: 40px;
    left: 5px;

}
.pic_8{
    height: 166.27px;
    width: 160.53px;
    border-radius: 4.59px ;
    background-image: url('https://s3-alpha-sig.figma.com/img/d6aa/65b0/d39a7dbd34dfe8fd94bfbddd354a1ac7?Expires=1710720000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=ge9zcHal1lmaevOUtajtpvrv9ybCBk1GATUFWntLlZ5i8xwtkFIB5r2kc3Z5qsMQPb3ovDxrGAlNzkQO0v7Qq74HTQ1M7XKEPPliiucHOGtmWMi3~uGkGONvGbaP-81pSDop5CRD~Tf5hK8gpbnaBOAxDuuFtTccuOlaY3fdVFMwdIHNAhTyfCZFqgqM5xuMBLh5iBF52VU0P5vGUagMrzaV~~aGFnAi~jctTv4HIB0vo94Le-O9Lv06OhPOiSqEgX0Z-PgNhJk2rpBh4idsP0NN6DDr2bRwT5m0bKbZnJrIRbwo7KInRPqmvNviX0I494k0S1eO-JeNw~nV5t7xkg__');
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    top: 40px;
    left: 5px;

}


.heart{
    height: 18.35px;
    width: 18.35px;
    background-color: #000000a7;
    border-radius: 18.35px;
    border: 1px solid #FFFFFF12;
    position: relative;
    top: 144px;
    left: 135px;
}